<h1><%= @titulo %></h1>



<table class="table">
	<thead>
		<tr>
			<th>Foto</th>
			<th>Nombre</th>
			<th>Provincia</th>
			<th>Bloque actual</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @diputados.each{ |diputado| %>
			<tr>
				<td><a href="/diputados/ficha/<%= diputado.id %>"><%= image_tag diputado.url_foto_mediana %></a></td>
				<td><a href="/diputados/ficha/<%= diputado.id %>"><%= diputado.apyn %></a></td>
				<td><%= diputado.provincia.nombre if diputado.provincia %></td>
				<td><%= diputado.bloque_actual.nombre if diputado.bloque_actual %></td>
				<td>
					<a class="btn" href="/diputados/ficha/<%= diputado.id %>">Ver</a>
				</td>
			</tr>
		<% } %>
	</tbody>
</table>