<!DOCTYPE html>
<html>
<head>
  <title>DatafestPerfilDiputado</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Tu diputado</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class=""><a href="/">Inicio</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Diputados <b class="caret"></b></a>
                <ul class="dropdown-menu">  
                  <li><a href="/diputados/actuales">Listado actual</a></li>
                  <li><a href="/diputados">Listado hist칩rico</a></li>
                </ul>
              </li>
              <li><a href="#">Provincias</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Por bloque <b class="caret"></b></a>
                <ul class="dropdown-menu">  
                  <li><a href="/diputados/por_bloque">Listado actual</a></li>
                  <li><a href="/diputados/por_bloque?historico=1">Listado hist칩rico</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">M치s cosas <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">una</a></li>
                  <li><a href="#">otra</a></li>
                  <li class="divider"></li>
                  <li><a href="#">otra m치s</a></li>
                </ul>
              </li>
            </ul>
            <div class="navbar-form pull-right">
              
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <br/><br/><br/>

    <div class="container">

		<%= yield %>

      <hr>

      <footer>
        <p>Hecho en el Datafest 2012</p>
      </footer>

    </div> <!-- /container -->



  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "bootstrap.min" %>
  

</body>
</html>
